<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('../partials/head') %>
</head>

<body data-theme="light" class="h-full font-monts bg-primary transition-colors duration-200">
    <%- include('../partials/nav') %>
        <%- include('../partials/sidebar') %>
            <%- include('../partials/loader') %>

                <main id="main-content" class="pt-24 mb-19
                 text-dark px-4 transition-all duration-300 md:ml-[270px]">
                    <div class="max-w-4xl w-full">
                        <!-- Profile Header -->
                        <div class="p-4 text-dark">
                            <div class="flex flex-col sm:flex-row items-center gap-6">
                                <div
                                    class="bg-card border-2 p-4 rounded-full w-16 h-16 flex text-orange-500 text-xl font-bold items-center justify-center">
                                    <%= user.name?.charAt(0)?.toUpperCase() %>
                                </div>

                                <div class="flex  flex-col">
                                    <div class="flex items-center flex-wrap gap-2 justify-between">
                                        <h1 class="text-xl md:text-2xl font-semibold">
                                            <%= user.name %>
                                        </h1>

                                        <% if (user.isEmailValid) { %>
                                            <h3 class="text-xl text-green-500"><i class="ri-verified-badge-fill"></i>
                                            </h3>

                                            <% } else { %>
                                                <a href="/auth/verify-email"
                                                    class="bg-orange-600 hover:bg-orange-700 text-white text-sm px-3 py-1 rounded-lg font-medium transition duration-200">
                                                    Verify Now
                                                </a>
                                                <% } %>
                                    </div>

                                    <div class="flex items-center gap-2 mt-2 flex-wrap">
                                        <span>
                                            <%= user.email %>
                                        </span>

                                        <span>|</span>
                                        <span>Member since <%=
                                                user?.createdAt.toLocaleDateString("en-US",{year:"numeric",weekday:"short"
                                                ,month:"short",day:"numeric"}) %></span>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <!-- Action Buttons -->
                        <div class="p-4">
                            <h2 class="text-lg font-semiboldtext-dark mb-4">Account Settings</h2>
                            <div class="grid font-medium grid-cols-1 sm:grid-cols-3 gap-4">
                                <button onclick="window.location.href='/auth/edit-profile/<%= user.id %>'"
                                    class="w-full flex border border-zinc-500/30 hover:border-orange-500 bg-card items-center justify-between p-4  rounded-lg transition duration-200">
                                    <div class="flex items-center">
                                        <i class="fas fa-user-edit text-orange-600 mr-3"></i>
                                        <span>Edit Profile</span>
                                    </div>
                                    <i class="fas fa-chevron-right text-zinc-400"></i>
                                </button>
                                <% if (hasPassword) { %>
                                    <button onclick="window.location.href='/auth/change-password'"
                                        class="w-full flex border border-zinc-500/30 hover:border-orange-500 bg-card items-center justify-between p-4  rounded-lg transition duration-200">
                                        <div class="flex items-center">
                                            <i class="fas fa-key text-orange-600 mr-3"></i>
                                            <span>Change Password</span>
                                        </div>
                                        <i class="fas fa-chevron-right text-zinc-400"></i>
                                    </button>

                                    <% } else { %>
                                        <button onclick="window.location.href='/auth/set-password'"
                                            class="w-full flex border border-zinc-500/30 hover:border-orange-500 bg-card items-center justify-between p-4  rounded-lg transition duration-200">
                                            <div class="flex items-center">
                                                <i class="fas fa-key text-orange-600 mr-3"></i>
                                                <span>Set Password</span>
                                            </div>
                                            <i class="fas fa-chevron-right text-zinc-400"></i>
                                        </button>
                                        <% } %>
                                            <button id="logoutBtn" onclick="window.location.href='/auth/logout'"
                                                class="w-full flex border border-zinc-500/30 hover:border-orange-500 bg-card items-center justify-between p-4  rounded-lg transition duration-200">
                                                <div class="flex items-center">
                                                    <i class="fas fa-sign-out-alt text-red-600 mr-3"></i>
                                                    <span class="text-red-700">Logout</span>
                                                </div>
                                                <i class="fas fa-chevron-right text-red-400"></i>
                                            </button>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('../partials/utiljs') %>
</body>

</html>